<div class="row">
  <div class="col">
    <form [formGroup]="editForm" (ngSubmit)="editProduct()">
      <h1>Editar Producto</h1>
      <div class="my-3">
        <input type="text" class="form-control" placeholder="Ingrese el nombre del producto" [formControlName]="'nombre'">
      </div>
      <div class="my-3">
        <input type="text" class="form-control" placeholder="Ingrese el precio del producto" [formControlName]="'precio'">
      </div>
      <button class="btn btn-primary" type="submit"> Editar Producto</button>
    </form>
  </div>
</div>
